* {
    font-family: 'Rubik', Verdana, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #DADADA;
}
body, html {
    height: 100%;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #242C3A;
}

.container {
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: #374359;
    padding: 40px 40px 20px 40px;
    border-radius: 20px;
}

#headline-top {
    font-weight: 500;
    font-size: 32px;
    color: white;
    margin: 2px 0;
}

#headline-bottom {
    font-weight: 500;
    font-size: 32px;
    color: turquoise;
    margin: 2px 0;
}

#subtitle {
    margin-bottom: 30px;
}
/*
input[type="checkbox"] {
    display: none /*hide checkbox as standard can not be styled;
}

label::before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 10px;
    border: 1px solid #DADADA;
    border-radius: 3px;
  }
  
input[type="checkbox"]:checked + label::before #label-cb {
    content: "";
    width: 12px;
    height: 12px;
    font-size: 10px;
    text-align: center;
    color: #FFFFFF;
    background-color: turquoise;
    border-color: turquoise;
}
*/
.checkbox-props {
    margin-bottom: 10px;
}

button {
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 8px;
    background-color: turquoise;
    color: #333333;
    transition: box-shadow 0.3s ease-in-out;
    overflow: hidden;
}

button:hover {
    box-shadow: 0px 0px 10px turquoise;
}

#btn-generate-password {
    margin-top: 40px;
    margin-bottom: 10px;
}

#btn-generate-password:active {
    background-color: rgb(57, 204, 189);
}

hr {
    width: 100%;
    border: thin solid #353C4A;
}

.output-container {
    display: flex;
    flex-direction: column;
}

.span-output {
    border-radius: 8px;
    background-color: #4A5B79;
    color: white;
    margin-top: 10px;
    padding: 10px;
    overflow: scroll;
    cursor:pointer;
}

.button-output:hover {
    box-shadow: 0px 0px 10px #4A5B79;
}

#notification-copied {
    visibility: hidden;
    font-style: italic;
}